{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <h1>
        {{ title }}
    </h1>
    {% if check_category is not empty %}
    <a href="{{ path('admin_post_create') }}">Создать пост</a><br>
    {% endif %}

    {% for message in app.flashes('success') %}
        <p>{{ message }}</p>
    {% endfor %}

    {% if check_category is empty %}
        <p>Создание постов невозможно, сначала создай категорию</p>
        <hr>
        <a href="{{ path('admin_category_create') }}"> Создать категорию </a>
    {% else %}
        <h2>Список постов</h2>
        <ul>
            {% for post_item in post %}
                <li>
                    <img src="{{ asset('uploads/post/') }}{{ post_item.image }}" style="width: 100px;" alt="">
                    {{ post_item.title }}
                    <a href="{{ path('admin_post_update', {'id' : post_item.id}) }}">Редактировать</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}